---
const timestamp = new Date().toLocaleTimeString();
console.log('Rendering Content Component ...');
---
<div>
    <h2>Content: {timestamp}</h2>
    <div>This is static content ...</div>
    <div>This is static content ...</div>
    <div>This is static content ...</div>
</div>
